{% extends 'base.html' %}
{% load static %}
{% block content %}



<section id="donation-section" class="bg-white min-vh-100 d-flex align-items-center ">
  <div class=" mx-auto ">
    <div class="row container-xl  mx-auto py-10 ">
      <div class="col-12 col-md-6 d-flex ">
        <div class="container text-center py-4">
          <h1 class="intro-title">Make Your own Home today </h1>
          <h3 class="intro-subtitle">with our high quality fourniture</h3>
        </div>
      </div>
      <div class="col-12 col-md-6 d-flex flex-column justify-content-center 0">
        <div class="donation">
          <div class="card mb-2 ">
            <div class="card-body ">
              <form id="donation-form" action="" method="post">
                {% csrf_token %}
                <div class="mb-3">
                  {% for field in form %}
                  <label class="form-label">{{field.name}}</label>
                  <div class="mb-3 ">
                    <input type={{field.field.widget.input_type}} name={{field.name}} value={{field.value}} readonly>
                  </div>
                  {% endfor %}
                </div>
                <button class="btn btn-outline-success align-center flex justify-center"
                  style="display: block; margin: 0 auto;">
                  Pay
                </button>

              </form>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</section>


{% endblock content %}